@CHARSET "ISO-8859-1";
  
#latlng {
    width: 225px;
}
  
#map-canvas{
  	width: 50%;
  	float:right;
  	height: 100%;
}
  
  
.map-info{
	
	position:relative;
	top: 70px;
  	padding: 0 0 0 0;
  	width: 50%;
  	height: 100%;
  	float:left;	
}

.window{
    display:none;
    width:300px;
    height:300px;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}
 
#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}
 
.fechar{display:block; text-align:right;}



